.text-color--green{
    color: #00ff00;
}
.text-color--red{
    color: #ff0000;
}

.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    height: 100%;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.App-links a {
    margin-right: 10px;
    color: #fff;
}

.App-links a:hover {
    color: #aaa;
}

.App-links a:visited {
    color: #fff;
}

.App-content h2 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
